.selected {
    background-color: #66cdaa;
    box-shadow: 8px 9px 21px -5px rgba(0, 0, 0, 0.57);
    padding: 1rem;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
    justify-self: center;
    width: max-content;
    margin-bottom: 1rem;
    text-decoration: none;
    color: rgb(58, 56, 56);
}
